@charset "UTF-8";
/* CSS Document */

footer {
    position: fixed;
    z-index: 2;
    bottom: 0vh;
    left: 0vh;
    text-align: center;
    width: 100%;
    background: white;
    padding-top: 20px;
    box-shadow: 0px -1px 10px grey;
}
