@charset "UTF-8";
/* CSS Document */

h1, h2, h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: black;
}

h2 {
    font-size: 100%;
    font-weight: normal;
    color: gray;
    letter-spacing: 0.02em;
}

.section {
    position: fixed;
    z-index: 1;
    width: 100%;
}

.footer {
    position: fixed;
    z-index: 2;
    bottom: 0vh;
    text-align: center;
    width: 100%;
    background: white;
    padding-top: 20px;
    box-shadow: 0px -1px 10px grey;
}

a:link, a:visited {
    width: 130px;
    color: #000000;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    color: #3B5998;
}

/* Parallax base styles
--------------------------------------------- */

/* Larger than mobile */
@media (min-width: 400px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 40vh;
        perspective-origin-x: 100%;
    }

    .parallax__group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 40vh;
        transform-style: preserve-3d;
    }

    .parallax__layer--back {
        transform: translateZ(-40px) scale(2);
        z-index: 3;
    }

    .parallax__layer--deep {
        transform: translateZ(-80px) scale(3);
        z-index: 2;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 55vh;
        perspective-origin-x: 100%;
    }

    .parallax__group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 55vh;
        transform-style: preserve-3d;
    }

    .parallax__layer--back {
        transform: translateZ(-55px) scale(2);
        z-index: 3;
    }

    .parallax__layer--deep {
        transform: translateZ(-110px) scale(3);
        z-index: 2;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 75px;
        perspective-origin-x: 100%;
    }

    .parallax__group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 75vh;
        transform-style: preserve-3d;
    }

    .parallax__layer--back {
        transform: translateZ(-75px) scale(2);
        z-index: 3;
    }

    .parallax__layer--deep {
        transform: translateZ(-150px) scale(3);
        z-index: 2;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 100px;
        perspective-origin-x: 100%;
    }

    .parallax__group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        transform-style: preserve-3d;
    }

    .parallax__layer--back {
        transform: translateZ(-100px) scale(2);
        z-index: 3;
    }

    .parallax__layer--deep {
        transform: translateZ(-200px) scale(3);
        z-index: 2;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 125vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 125px;
        perspective-origin-x: 100%;
    }

    .parallax__group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 125vh;
        transform-style: preserve-3d;
    }

    .parallax__layer--back {
        transform: translateZ(-125px) scale(2);
        z-index: 3;
    }

    .parallax__layer--deep {
        transform: translateZ(-250px) scale(3);
        z-index: 2;
    }
}

.parallax__layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin-x: 100%;
}

.parallax__layer--base {
    transform: translateZ(0);
    z-index: 4;
}

html {
    height: 100%;
    overflow: hidden;
}

/* Parallax group styles
--------------------------------------------- */

#group1 {
    z-index: 5; /* slide over group 2 */
}

#group1 .parallax__layer--base {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group2 {
    z-index: 3; /* slide under groups 1 and 3 */
}

#group2 .parallax__layer--back {
    background-image: url("../images/roseberrytopping.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#group3 {
    z-index: 4; /* slide over group 2 and 4 */
}

#group3 .parallax__layer--base {
    background-image: url("../images/bath.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#group4 {
    z-index: 2; /* slide under group 3 and 5 */
}

#group4 .parallax__layer--deep {
    background-image: url("../images/ashnessjetty.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#group5 {
    z-index: 3; /* slide over group 4 and 6 */
}

#group5 .parallax__layer--base {
    background-image: url("../images/durdledoor.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#group6 {
    z-index: 1; /* slide under group 5 and 7 */
}

#group6 .parallax__layer--back {
    background-image: url("../images/kernow.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

#group7 {
    z-index: 2; /* slide over group 7 */
}

#group7 .parallax__layer--base {
    background-image: url("../images/swaledale.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}
