@charset "UTF-8";
/* CSS Document */

/* Parallax base styles
--------------------------------------------- */

/* Larger than mobile */
@media (min-width: 400px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 40vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 40vh;
        perspective-origin-x: 100%;
    }

    .parallax_group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 40vh;
        transform-style: preserve-3d;
    }

    .parallax_layer-back {
        transform: translateZ(-40px) scale(2);
        z-index: 3;
    }

    .parallax_layer-deep {
        transform: translateZ(-80px) scale(3);
        z-index: 2;
    }
}

/* Larger than phablet */
@media (min-width: 550px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 55vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 55vh;
        perspective-origin-x: 100%;
    }

    .parallax_group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 55vh;
        transform-style: preserve-3d;
    }

    .parallax_layer-back {
        transform: translateZ(-55px) scale(2);
        z-index: 3;
    }

    .parallax_layer-deep {
        transform: translateZ(-110px) scale(3);
        z-index: 2;
    }
}

/* Larger than tablet */
@media (min-width: 750px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 75vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 75px;
        perspective-origin-x: 100%;
    }

    .parallax_group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 75vh;
        transform-style: preserve-3d;
    }

    .parallax_layer-back {
        transform: translateZ(-75px) scale(2);
        z-index: 3;
    }

    .parallax_layer-deep {
        transform: translateZ(-150px) scale(3);
        z-index: 2;
    }
}

/* Larger than desktop */
@media (min-width: 1000px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 100px;
        perspective-origin-x: 100%;
    }

    .parallax_group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 100vh;
        transform-style: preserve-3d;
    }

    .parallax_layer-back {
        transform: translateZ(-100px) scale(2);
        z-index: 3;
    }

    .parallax_layer-deep {
        transform: translateZ(-200px) scale(3);
        z-index: 2;
    }
}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
    .parallax {
        height: 500px; /* fallback for older browsers */
        height: 125vh;
        overflow-x: hidden;
        overflow-y: auto;
        perspective: 125px;
        perspective-origin-x: 100%;
    }

    .parallax_group {
        position: relative;
        height: 500px; /* fallback for older browsers */
        height: 125vh;
        transform-style: preserve-3d;
    }

    .parallax_layer-back {
        transform: translateZ(-125px) scale(2);
        z-index: 3;
    }

    .parallax_layer-deep {
        transform: translateZ(-250px) scale(3);
        z-index: 2;
    }
}

.parallax_layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transform-origin-x: 100%;
}

.parallax_layer-base {
    transform: translateZ(0);
    z-index: 4;
}

/* Parallax group styles
--------------------------------------------- */

#group1 {
    z-index: 5; /* slide over group 2 */
}

#group1 .parallax_layer-base {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group2 {
    z-index: 3; /* slide under groups 1 and 3 */
}

#group2 .parallax_layer-back {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group3 {
    z-index: 4; /* slide over group 2 and 4 */
}

#group3 .parallax_layer-base {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group4 {
    z-index: 2; /* slide under group 3 and 5 */
}

#group4 .parallax_layer-deep {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group5 {
    z-index: 3; /* slide over group 4 and 6 */
}

#group5 .parallax_layer-base {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group6 {
    z-index: 1; /* slide under group 5 and 7 */
}

#group6 .parallax_layer-back {
    background-repeat: no-repeat;
    background-size: 100%;
}

#group7 {
    z-index: 2; /* slide over group 7 */
}

#group7 .parallax_layer-base {
    background-repeat: no-repeat;
    background-size: 100%;
}
