@charset "UTF-8";
/* CSS Document */

header {
    position: fixed;
    z-index: 3;
    top: 0vh;
    left: 0vh;
    text-align: center;
    width: 100%;
    background: white;
    padding-bottom: 15px;
    box-shadow: 0px 1px 10px grey;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav {
    line-height: 60px;
    height: 60px;
    padding: 5px;
}

li {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 16px;
    line-height: 1.5em;
}

.navigation li {
    display: inline;
}

.navigation a {
    display: inline-block;
    padding: 10px;
    vertical-align: middle;
}
