@charset "UTF-8";
/* CSS Document */

html {
    height: 100%;
    overflow: hidden;
}

h1, h2, h3 {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

h1 {
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: black;
}

h2 {
    font-size: 100%;
    font-weight: normal;
    color: gray;
    letter-spacing: 0.02em;
}

a:link, a:visited {
    width: 130px;
    color: #000000;
    text-align: center;
    padding: 7px;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover, a:active {
    color: #3B5998;
}
