/**************************/
/*  Social Button Styles  */
/**************************/
.social-button-group
  padding: 10px

.social-button-group li
  display: inline-block

.social-button-group li a
  display: inline-block
  height: 35px
  width: 35px
  font-size 25px
  text-align: center
  color: #000000
  background-color: #ffffff
  transition: all .3s

.social-button-group li.facebook-button:hover a,
.social-button-group li.facebook-button:focus a,
.social-button-group li.facebook-button:active a
  color: #3b5998

.social-button-group li.instagram-button:hover a,
.social-button-group li.instagram-button:focus a,
.social-button-group li.instagram-button:active a
  color: #fb3958

.social-button-group li.five-hundred-px-button:hover a,
.social-button-group li.five-hundred-px-button:focus a,
.social-button-group li.five-hundred-px-button:active a
  color: #696969
