/**************************/
/*     Footer Styles      */
/**************************/
.footer
  text-align: center
  bottom: 0

.tag-line
  font-size: small
  text-transform: uppercase

.copyright
  font-size: small
  text-transform: uppercase
