/**************************/
/*    General Styles      */
/**************************/

body
  font-family: "Helvetica Neue Light", "HelveticaNeue-Light", "Helvetica Neue", Helvetica, Arial, sans-serif

h1,
h2
  text-transform: uppercase
  padding-bottom: 15px
  margin: 0
  mso-line-height-rule: exactly

p
  padding-bottom: 15px
  margin: 0

a
  text-decoration: none
  color: black

.small
  font-size: small

.message
  font-style: italic
  padding: 10px
  margin-bottom: 10px
