/**************************/
/*     Header Styles      */
/**************************/
.pre-header
  display: none
  font-size: 1px
  color: #fefefe
  line-height: 1px
  font-family: Helvetica, Arial, sans-serif
  max-height: 0
  max-width: 0
  opacity: 0
  overflow: hidden
  mso-hide: all

.header
  text-align: center

.signature
  height: 75px
  width: 195px
