/**************************/
/*     Section Styles     */
/**************************/
.section
  text-align: center
  padding: 50px

.heading
  color: rgb(255, 255, 255)
  font-size: xx-large
  font-weight: bold

.subheading
  color: rgba(255, 255, 255, 0.5)
  font-size: large
