{% extends "layout.html" %}

{% block section %}
<div class="aboutme">
    <p>Fred Millman is a Yorkshire-born student of Computer Science based in the UNESCO world heritage city of Bath in the United Kingdom.</p>
    <p><img src="http://millmanphotography.dev/image/fred.jpg" alt="Fred" width="300" height="300"></p>
    <p>He began his path into photography by picking up a DSLR and joining up with the University of Bath's Photography Society in his first year.</p>
    <p>Over the next few years, he would begin to explore a new way of seeing the world around him and take advantage of the opportunities that the Photography Society had to offer.</p>
    <p>Fred's main interests in photography lie firmly in Landscapes, although he has dabbled in Portraits, and Architecture.</p>
    <p>Check out his work in the Gallery.</p>
</div>
{% endblock %}
