{% extends "layout.html" %}

{% block section %}
    <div class="index">
        <div class="parallax">
            <div id="group1" class="parallax_group">
                <div class="parallax_layer parallax_layer-base"
                     style="background-image: url('{{ image[0] }}')"></div>
            </div>
            <div id="group2" class="parallax_group">
                <div class="parallax_layer parallax_layer-back"
                     style="background-image: url('{{ image[1] }}')"></div>
            </div>
            <div id="group3" class="parallax_group">
                <div class="parallax_layer parallax_layer-base"
                     style="background-image: url('{{ image[2] }}')"></div>
            </div>
            <div id="group4" class="parallax_group">
                <div class="parallax_layer parallax_layer-deep"
                     style="background-image: url('{{ image[3] }}')"></div>
            </div>
            <div id="group5" class="parallax_group">
                <div class="parallax_layer parallax_layer-base"
                     style="background-image: url('{{ image[4] }}')"></div>
            </div>
            <div id="group6" class="parallax_group">
                <div class="parallax_layer parallax_layer-back"
                     style="background-image: url('{{ image[5] }}')"></div>
            </div>
            <div id="group7" class="parallax_group">
                <div class="parallax_layer parallax_layer-base"
                     style="background-image: url('{{ image[6] }}')"></div>
            </div>
        </div>
    </div>
{% endblock %}
