@charset "UTF-8";
/* CSS Document */

h1 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: normal;
text-transform: uppercase;
letter-spacing: 0.08em;
}

h2 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-size: 100%;
font-weight: normal;
color:grey;
}

h3 {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
font-weight: normal;
position: absolute; 
top: 250px; 
left: 5px; 
color: white;
}

h3 span { 
color: white;  
background: rgb(0, 0, 0); /* fallback color */
background: rgba(0, 0, 0, 0.7);
padding: 10px; 
}

p {
font-family: "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, sans-serif;
text-align:center;
}

header {
text-align:center;
padding:5px;
}

nav {
line-height:30px;
height:30px;
padding:5px;
}

section {
}

footer {
clear:both;
text-align:center;
}

ul {
list-style-type: none;
margin: 0;
padding: 0;
overflow: hidden;
}

li {
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

a {
display: block;
}

.nav {
list-style:none;
margin:0;
padding:0;
text-align:center;
}

.nav li {
display:inline;
}

.nav a {
display:inline-block;
padding:10px;
}

a:link, a:visited {
width: 130px;
color: #000000;
text-align: center;
padding: 7px;
text-decoration: none;
text-transform: uppercase;
}

a:hover, a:active {
color: #3B5998;
}

.centeredImage {
text-align:center;
margin-top:0px;
margin-bottom:0px;
padding:0px;
}

.cube {
float: left;
margin: 10px;
padding: 18px;
width: 300px;
height: 300px;
position: relative;
opacity: 0.75;
}

.cube:hover {
opacity:1;
transition: all 0.25s;
-webkit-transition: all 0.25s;
}

#wrapper {
	margin:auto;
	width:900px;
}

#login {
	border: 1px solid #AEAEAE;
	margin: 100px auto 0;
	padding: 0;
	width: 300px;
}

#adminmenu {
	padding-left: 0;
}

#adminmenu li {
	float: left;
	list-style: none;
	margin-right: 20px;
}

.clear {
	clear: both;
}

.error {
	padding: 0.75em;
	margin: 0.75em;
	border: 1px solid #990000;
	max-width: 400px;
	color: #990000;
	background-color: #FDF0EB;
	-moz-border-radius: 0.5em;
	-webkit-border-radius: 0.5em;
}

p,li {
	color: #555555;
	font-size: 16px;
	line-height: 1.5em;
}

a {
	color: #EF1F2F;
	text-decoration: none;
}

form input {
	border: 1px solid #999999;
	border-bottom-color: #cccccc;
	border-right-color: #cccccc;
	padding: 5px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.0em;
	margin: 2px;
}

table {width:98%; text-align:left; border:1px solid #DDDDDD; font-size:12px; color:#000;background:#fff; margin-bottom:10px;}
table th {background-color:#E5E5E5; border:1px solid #BBBBBB; padding:3px 6px; font-weight:normal; color:#000;}
table tr td {border:1px solid #DDDDDD; padding:5px 6px;}
table tr.alt td {background-color:#E2E2E2;}
table tr:hover {background-color:#F0F0F0; color:#000;}

