@charset "UTF-8";
/* CSS Document */

html {
    height:100%;
    overflow:hidden
}

/***** General Styles *****/
h1 {
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-weight:400;
    text-transform:uppercase;
    letter-spacing:.1em;
    color:#000
}

h2 {
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size:100%;
    font-weight:400;
    color:gray;
    letter-spacing:.02em
}

h3 {
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}

p {
    font-family:"HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}

a:link,a:visited {
    width:130px;
    color:#000;
    text-align:center;
    padding:7px;
    text-decoration:none;
    text-transform:uppercase
}

a:hover,a:active {
    color:#3B5998
}

/***** Header Style *****/
header {
    position:fixed;
    z-index:3;
    top:0;
    left:0;
    text-align:center;
    width:100%;
    background:#FFF;
    padding-bottom:15px;
    box-shadow:0 1px 10px gray
}

/***** Navigation Style *****/
ul {
    list-style-type:none;
    margin:0;
    padding:0;
    overflow:hidden
}

nav {
    line-height:60px;
    height:60px;
    padding:5px
}

li {
    font:16px/1.5em "HelveticaNeue-Light","Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif
}

.navigation li {
    display:inline
}

.navigation a {
    display:inline-block;
    padding:10px;
    vertical-align:middle
}

/***** Page Style *****/
section {
    position:fixed;
    top:10vh;
    left:0;
    right:0;
    bottom:10vh;
    z-index:1;
    width:100%
}

/***** Footer Style *****/
footer {
    position:fixed;
    z-index:2;
    bottom:0;
    left:0;
    text-align:center;
    width:100%;
    background:#FFF;
    padding-top:10px;
    padding-bottom:10px;
    box-shadow:0 -1px 10px gray
}

/***** Parallax Style *****/
@media (min-width: 400px) {
    .parallax {
        height:40vh;
        overflow-x:hidden;
        overflow-y:auto;
        perspective:40vh;
        perspective-origin:100%
    }

    .parallax_group {
        position:relative;
        height:40vh;
        transform-style:preserve-3d
    }

    .parallax_layer-back {
        transform:translateZ(-40px) scale(2);
        z-index:3
    }

    .parallax_layer-deep {
        transform:translateZ(-80px) scale(3);
        z-index:2
    }
}

@media (min-width: 550px) {
    .parallax {
        height:55vh;
        overflow-x:hidden;
        overflow-y:auto;
        perspective:55vh;
        perspective-origin:100%
    }

    .parallax_group {
        position:relative;
        height:55vh;
        transform-style:preserve-3d
    }

    .parallax_layer-back {
        transform:translateZ(-55px) scale(2);
        z-index:3
    }

    .parallax_layer-deep {
        transform:translateZ(-110px) scale(3);
        z-index:2
    }
}

@media (min-width: 750px) {
    .parallax {
        height:75vh;
        overflow-x:hidden;
        overflow-y:auto;
        perspective:75px;
        perspective-origin:100%
    }

    .parallax_group {
        position:relative;
        height:75vh;
        transform-style:preserve-3d
    }

    .parallax_layer-back {
        transform:translateZ(-75px) scale(2);
        z-index:3
    }

    .parallax_layer-deep {
        transform:translateZ(-150px) scale(3);
        z-index:2
    }
}

@media (min-width: 1000px) {
    .parallax {
        height:100vh;
        overflow-x:hidden;
        overflow-y:auto;
        perspective:100px;
        perspective-origin:100%
    }

    .parallax_group {
        position:relative;
        height:100vh;
        transform-style:preserve-3d
    }

    .parallax_layer-back {
        transform:translateZ(-100px) scale(2);
        z-index:3
    }

    .parallax_layer-deep {
        transform:translateZ(-200px) scale(3);
        z-index:2
    }
}

@media (min-width: 1200px) {
    .parallax {
        height:125vh;
        overflow-x:hidden;
        overflow-y:auto;
        perspective:125px;
        perspective-origin:100%
    }

    .parallax_group {
        position:relative;
        height:125vh;
        transform-style:preserve-3d
    }

    .parallax_layer-back {
        transform:translateZ(-125px) scale(2);
        z-index:3
    }

    .parallax_layer-deep {
        transform:translateZ(-250px) scale(3);
        z-index:2
    }
}

.parallax_layer {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    transform-origin:100%
}

.parallax_layer-base {
    transform:translateZ(0);
    z-index:4
}

#group1 {
    z-index:5
}

#group1 .parallax_layer-base {
    background-repeat:no-repeat;
    background-size:100%
}

#group2 {
    z-index:3
}

#group2 .parallax_layer-back {
    background-repeat:no-repeat;
    background-size:100%
}

#group3 {
    z-index:4
}

#group3 .parallax_layer-base {
    background-repeat:no-repeat;
    background-size:100%
}

#group4 {
    z-index:2
}

#group4 .parallax_layer-deep {
    background-repeat:no-repeat;
    background-size:100%
}

#group5 {
    z-index:3
}

#group5 .parallax_layer-base {
    background-repeat:no-repeat;
    background-size:100%
}

#group6 {
    z-index:1
}

#group6 .parallax_layer-back {
    background-repeat:no-repeat;
    background-size:100%
}

#group7 {
    z-index:2
}

#group7 .parallax_layer-base {
    background-repeat:no-repeat;
    background-size:100%
}
